body {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

* {
    box-sizing: border-box;
}

#content {
    height: 100%;
    width: 100%;
    max-width: 100%;
    display: grid;
}

.noteContainer {
    width: 250px;
    background-color: bisque;
    margin: 10px;
}

.noteContent,
.noteTitle {
    width: 100%;
    text-overflow: ellipsis;
    overflow-wrap: normal;
    word-wrap: break-word;
}


/* notification */

#notifContainer {
    min-height: 0%;
    width: 30%;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    z-index: 1000;
}

.notif {
    width: 100%;
    height: 30px;
    background-color: brown;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}

.buttonContainer {
    width: 100%;
    
}